/target

# Frontend
node_modules
frontend/node_modules
frontend/.output
frontend/.vercel
frontend/.svelte-kit
frontend/build
frontend/.sentryclirc

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
frontend/vite.config.ts.timestamp-*
frontend/vite.config.js.timestamp-*

logs